<ion-view view-title="Lucy Gray | English - I">
  <ion-content>
    <h2 class="text-center">Lucy Gray</h2>
    <p class="text-justify">
      This poem is written by WILLIAN WORDSWORTH,composed this poem in 1799.
      William Wordsworth is regarded as the poet of more recent period. In this
      poem he tells about a story of little brave girl who live with her parents
      and has no friends so she use to play with her rabbits. once her mother
      went to town .her father felt that there would be snowy storm tonight so
      he asked Lucy to go to town and bring back her mother so lucy took lantern
      in her she was on a way to town unfortunately storm came before the time.
      she tried to reach the town but she was frightened and she was buried
      under snow,her mother reached home by next way her parents were worried
      about her cause she did not come back so they started searching her whole
      the night searched but could not find her own next day they saw prints of
      her foot at the center of wooden bridge where she was fallen down and left
      the world. some people believe that lucy come on the mountain in stormy night
      and wonder over up and down hills cries for help and sings solitary song
      which sung up in winds. the beautiful poem tells about obedience of lucy
      who acted upon her father order to bring her mother back home in dreadful
      storm she went but did not came back cause she lost her life and became
      part of nature."]Lucy gray This poem is written by WILLIAN WORDSWORTH,he
      composed this poem in 1799.Willian Wordsworth is regarded as the poet of
      more recent period. In this poem he tells about a story of little brave
      girl who live with her parents and has no friends so she use to play with
      her rabbits. once her mother went to town .her father felt that there
      would be snowy storm tonight so he asked lucy to go to town and bring back
      her mother so lucy took lantern in her she was on a way to town
      unfortunately storm came before the time.she tried to reach the town but
      she was frightened and she was buried under snow,her mother reached home
      by next way her parents were worried about her cause she did not come back
      so they started searching her whole the night searched but could not find
      her own next day they saw prints of her foot at the center of wooden
      bridge where she was fallen down and left the world. some people believe
      that Lucy come on the mountain in stormy night and wonder over up and down
      hills cries for help and sings solitary song which sung up in winds. the
      beautiful poem tells about obedience of lucy who acted upon her father order
      to bring her mother back home in dreadful storm she went but did not came
      back cause she lost her life and became part of nature.
    </p>
  </ion-content>
</ion-view>
