<ion-view view-title="Monte Cristo | English - I">
  <ion-content>
    <h2 class="text-center">Monte Cristo</h2>
    <p class="text-justify">
      The Count of Monte Cristo is the hero of the play, The Count’s Revenge. He is the charming, swashbuckling and ever obliging nobleman, splendidly dressed. The handsome hero, gay, cynical, not very young, with the touch of the devil about him.
As A Young Sailor

As a young man, Monte Cristo was known as Edmond Dantes, a mere sailor of Marseilles, a port in South of France. He loved a beautiful Catalan girl, Mercedes, to whom he was engaged. He was to marry her, on his return from a voyage, which he was to undertake in due course of time.
A Victim Of Conspiracy

But the marriage never took place, as a young fisherman, Fernand Mondego, a friend of Edmond and a snake under grass has other plans. Fernand Mondego secretely loved Mercedes and wished to marry her. So the crafty Fernand, hatched the most devilish of plots against his own friend (Edmond) whereby he got him condemned as a spy of exiled Buonopart, by giving false evidence in the court.
Convicted As A Spy

Poor Edmond, a victim of hatred and jealousy, is convicted as a spy and condemned to life imprisonment in an underground dungeon. The evil Fernand then, convinced Mercedes, through false news in the press that Edmond Dantes had died in prison. Then he gradually gained her confidence by sympathizing with her. In this way, Fernand succeeded in marrying Mercedes.
Escapes From Prison

The unfortunate Edmond Dantes, remained in Prison for 14 long years. He is an innocent victim of blind justice. Then luck favoured him. Six years before the events of our play, Edmond contrived to escape from prison. After escaping from prison, he re-establishes himself in life with wonderful speed and success. In six years, he acquires wealth, a little and a dazzling place in the French Society and settles down in Paris.
As Count Of Monte Cristo

As Count of Monte Cristo, he is greatly respected and admired. But his main aim in life is to take revenge from Fernand Mondego, his deadly enemy, now living in Paris as the Count of Morcerf. Monte Cristo discovers after searching investigations, that his old enemy the Count of Morcerf committed yet another gross act of villainy during his service in the French Army. That he accepted bribes from the Turks, with whom France was at war and surrendered the Fortress of Yanina to them, in 1823.
Count’s Revenge

By keeping in the background, Monte Cristo condemns Count of Morcerf as a traitor to his country. He thus succeeds in taking sweet revenge from his archenemy. He first publishes articles in the newspapers and later in the Chamber of Deputies, he backs his charges by giving convincing proofs. It is at this point, in the play, that Morcerf is, at least exposed as the Villain that he is.
Monte Cristo’s Challenge

Albert, the son of the Count of Morcerf is much offended on learning that his own friend is the cause of his family disgrace and disrepute. In a fit of rage, he challenges Monte Cristo to a duel, which was to be fought at Bois-de-Vincennes at 8 a.m.
Duel Averted

Owing to the intervention of the Countess, his beloved of yester-years, Monte Cristo consents to spare her son’s life. Monte Cristo gives his word that Albert would come to no harm and that he would die, in his place. However, it is the villain who dies and Monte Cristo is thus avenged.
Conclusion

There is no denying that Monte Cristo is the pivot around whom the whole play revolves. He is indeed a man of integrity and honour. He has a charming personality. He is kind and noble who is rewarded in the end for his virtuosity.
    </p>
  </ion-content>
</ion-view>
