<ion-view view-title="Westminister Bridge | English - I">
  <ion-content>
    <h2 class="text-center">Westminister Bridge</h2>
    <p class="text-justify">
      This wonderful poem is written by willian wordsworth , in this poem he
      describe the morning beauty of the city once poet early in the morning
      went to westminsterbridge from there he obserbed the beauty of city ,it
      was early in the morning so the sun was rising up with its own beauty,the
      opening rays of sun were peeping out and touching the hills and valleys,
      the whole city appeared to be wrapped in white dim light .the ships,boats
      all were on the bank of the river so there eas no disturbance in the river
      and was no pollution in environment and were no clouds on the sky.it was
      looking that not only people but even the houses of the city were sleeping
      cause there was no voice or distribance in any direction the whole city
      was absorbed in complete silence it was a charming season of nature.
    </p>
  </ion-content>
</ion-view>
