<ion-view view-title="Introduction to Microsoft Word | I.T Concepts - I">
  <ion-content>
    <h2 class="text-center">Introduction to Microsoft Word</h2>
    <p class="text-justify">
      Microsoft Office Word 2010 allows you to create and edit personal and business documents, such as letters, reports, invoices, emails and books.
      <br>
      By default, documents saved in Word 2010 are saved with the .docx extension. Microsoft Word can be used for the following purposes:
      <br>
      To create business documents having various graphics including pictures, charts, and diagrams.
To store and reuse ready-made content and formatted elements such as cover pages and sidebars.
To create letters and letterheads for personal and business purpose.
To design different documents such as resumes or invitation cards etc.
To create a range of correspondence from a simple office memo to legal copies and reference documents.
    </p>
  </ion-content>
</ion-view>
