<ion-view view-title="What is Backstage View? | I.T Concepts - I">
  <ion-content>
    <h2 class="text-center">What is Backstage View?</h2>
    <p class="text-justify">
      The Backstage view has been introduced in Word 2010 and acts as the central place for managing your documents. The backstage view helps in creating new documents, saving and opening documents, printing and sharing documents, and so on.
Getting to the Backstage View is easy: Just click the File tab, located in the upper-left corner of the Word Ribbon. If you already do not have any opened document then you will see a window listing down all the recently opened documents as follows:
    </p>
  </ion-content>
</ion-view>
