<ion-view view-title="How to Start Microsoft Word | I.T Concepts - I">
  <ion-content>
    <h2 class="text-center">How to Start Microsoft Word</h2>
    <p class="text-justify">
      Assuming you have Microsoft Office 2010 installed in your PC, to start word application, follow the following steps at your PC:<br>
Step (1): Click Start button.<br>
Step (2): Click All Programs option from the menu.<br>
Step (3): Search for Microsoft Office from the sub menu and click it.<br>
Step (4): Search for Microsoft Word 2010 from the submenu and click it
    </p>
  </ion-content>
</ion-view>
