<ion-view view-title="Intro to Chemistry | Chemistry - I">
  <ion-content>
    <h2 class="text-center">Intro to Chemistry</h2>
    <p class="text-justify">
      Atom

It is the smallest particle of an element which can exist with all the properties of its own element but it cannot exist in atmosphere alone. 


Molecule

When two or more than two atoms are combined with each other a molecule is formed. It can exist freely in nature. 


Formula Weight

It is the sum of the weights of the atoms present in the formula of a substance. 


Molecular Weight

It is the sum of the atomic masses of all the atoms present in a molecule. 


Chemistry

It is a branch of science which deals with the properties, composition and the structure of matter. 


Empirical Formula

Definition 
It is the simplest formula of a chemical compound which represents the element present of the compound and also represent the simplest ratio between the elements of the compound. 

Examples 
The empirical formula of benzene is "CH". It indicates that the benzene molecule is composed of two elements carbon and hydrogen and the ratio between these two elements is 1:1. 
The empirical formula of glucose is "CH2O". This formula represents that glucose molecule is composed of three elements carbon, hydrogen and oxygen. The ratio between carbon and oxygen is equal but hydrogen is double. 

    </p>
  </ion-content>
</ion-view>
