<ion-view view-title="About">
  <ion-content>
    <div class="row text-center">
      <div class="col">
        <h2>About Us</h2>
        <img src="img/logo.png">
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <p>
          The Commecs iLearn app enables students to study on-the-go providing
          study material for offline use. It also allows teachers to publish
          notes using the online panel and let the students see them on the fly.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <h3>Team</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="list">
          <div class="item">Mumtaz Indhar</div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="list">
          <div class="item">Ammar Shah</div>
          <div class="item">Arbaz Khan</div>
          <div class="item">Haris Khan</div>
        </div>
      </div>
      <div class="col">
        <div class="list">
          <div class="item">Fasih Sumar</div>
          <div class="item">Muhammad Abbas</div>
          <div class="item">Daniyal Lakhani</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
