<ion-view view-title="Tauheed | Islamiat">
  <ion-content>
    <h2 class="text-center">Tauheed</h2>
    <p class="text-justify">
      Literally “Tauheed” means to believe in one and understand its oneness.
      <br>
      Terminologically “Tauheed” means a firm believe and acceptence by heart that Almighty Allah is the only and absolute Master and Creator of this world. He is the Omnipotent and the most superior and supreme. He is unique is His authority and power no one is His assistant or equal to Him. He is independent and uncaring and all others are His dependents. All worship are befitting to Him. According the Quran and Hadiths His name is Allah and as attributive adjectives He is identified with ninety nine names including RAB, ALEEM, SAMEE, BASEER, KHABEER etc.
      <br>
      Tauheed (oneness) is the first and the foremost faith of Islam. It is considered as a foundation of other faiths and beliefs. Faith in Oneness of Allah is the basic condition of inclusion in Islam. Saurah Ikhlas is also named Suarah Tauheed because a few attributive adjectives of Allah are narrated in this suarah. It is also elaborated in other Quranic verses and the traditions of Prophet Muhammad
    </p>
  </ion-content>
</ion-view>
