<ion-view view-title="Justification of Khatm-e-Nabuwat | Islamiat">
  <ion-content>
    <h2 class="text-center">Justification of Khatm-e-Nabuwat</h2>
    <p class="text-justify">
      In Islam most of the faiths are justified with two approaches one based on the Quran and the other based on Hadiths. Khatm-e-Nabuwwat is the unique faith which can be justified through another source the consensus of Ummah. All the three justifications are stated as under:

i-	The Quran:	In Surah Ahzab No: 40 it is openly declared that Hazrat Muhammad (SAW) is the last and final prophet, and no one will be deputed after him Allah says.
	Muhammad is not the father of any man among you but he is the messenger of Allah and 	the seal of the Prophets. (Last Prophet)

ii-Hadiths:- Several sayings of Holy Prophet Muhammad ﷺ known as Hadith are compiled in the form of books. In many of those sayings it is widely declared and announced by 	Holy Prophet Muhammad ﷺ that he is the last Prophet and Prophethood ends on him.
	He (SAW) himself said.
	Indeed the continuation of Prophet hood and divine messengers have been ended and after me there is no Prophet or messenger. According to another Hadith listed in Sahi Bokhari I am given preference in six attributes as compared to other prophets I am bestowed with an ability of concise talk (saying more in few words) I am proudly favoured All booties are religiously sanctioned and legalized for me Entire earth is made as mosque and sacred for me I am sent as a messenger to all creatures and vi- the process of the sending prophets have been stopped and closed after me. (Sahi Muslim Termizi)

iii-Consensus of Ummah: If followers of Holy Prophet Muhammad ﷺ agrees on an issue and 	develops a consensus among them it is known as consensus of Ummah. Companions Abu Bakar	(R.A) were agreed on this version that Holy Prophet Muhammad ﷺ is the last Prophet and no prophet or messenger will come after him. This was the reason of initiating holy war against muselma the great liar who claimed to be a messenger during the caliphate of Hazrat Abu Bakar (RA) This jihad was supported by all the companions of Prophet (SAW).

	Right from the days of the companions of Holy Prophet Muhammad ﷺ, and their followers 	who enjoyed the company of the companions (RA) as well as the successors of the 	companions of Prophet (SAW) there is a consensus between Muslim Ummah the finality 	of prophethood is above all doubts and one who suspects in this regard will be expelled 	from Islam. National Assembly of Pakistan (the representative forum of Pakistani people) 	unanimously added this clause in the constitution of Pakistan on 7th Sept 1974 that 	Quadians (the unbelievers) of the finality of prophethood) are not muslims. Thus it can be 	said that entire Pakistanis are on one page and there is a consensus between them on 	believing Hazrat Muhammad 	(SAW) as the last prophet.
    </p>
  </ion-content>
</ion-view>
