<ion-view view-title="Prophethood of Holy Prophet(PBUH) | Islamiat">
  <ion-content>
    <h2 class="text-center">Prophethood of Holy Prophet(PBUH)</h2>
    <p class="text-justify">
      Imam of the Prophets, Head of the divine messengers, Allah’s last messenger pride and for dignity mankind, mercy for all the worlds beloved of the Lord of universe, cause of the creation of this world Holy Prophet Muhammad ﷺ was the last Prophet and messenger of Allah and deen was completed on him. He ﷺ is the blessing for this world and the world hereafter. There are several qualities in the Prophethood of Holy Prophet Muhammad ﷺ a few of those are stated under:

Generality:
All Prophets and divine messenger were deputed for a particular nation or 	a region. Their duration of Prophet hood was also restricted to a limited period. One 	prophet was followed by another Prophet either another messenger was ordained with a new shariat (divine law).Whereas the Prophet hood of Holy Prophet Muhammad ﷺ is for the entire humanity free from the restrictions of time and space. You are designated as
Prophet till the existence of 	this universe and all human being irrespective of their cast creed and colour are the followers (Ummati).
    </p>
  </ion-content>
</ion-view>
