<ion-view view-title="Second Year Commerce">
  <ion-content>
    <div class="row">
      <div id="one" class="col-50">
        <a href="#/app/eng2">
          <p>English</p>
        </a>
      </div>
      <div id="two" class="col-50">
        <a href="#/app/urdu2">
          <p>Urdu</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="three" class="col-50">
        <a href="#/app/pst">
          <p>Pakistan Studies</p>
        </a>
      </div>
      <div id="four" class="col-50">
        <a href="#/app/acc2">
          <p>Accounts</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="five" class="col-50">
        <a href="#/app/it2">
          <p>I.T Concepts</p>
        </a>
      </div>
      <div id="six" class="col-50">
        <a href="#/app/bank">
          <p>Banking</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="seven" class="col-50">
        <a href="#/app/cg">
          <p>Commercial Geography</p>
        </a>
      </div>
      <div id="eight" class="col-50">
        <a href="#/app/stat">
          <p>Statistics</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
