<ion-view view-title="اقتباسات کی تشریح | Urdu - I">
  <ion-content>
    <h2 class="text-center">اقتباسات کی تشریح</h2>
    <p class="text-justify">
      ۵۴۱ھ تک یعنی جب تک تصنیف و تالیف نہیں شروع ہوئی تھی جو تعلم و تعلیم تھی وہ عرب کے سادہ اور نیچرل طرز زندگی کے لئے موزوں تھی۔ علوم وہ تھے جن کو حافظہ سے زیادہ تر تعلق تھا۔ بحث طلب مسائل معمولی فہم کی دسترس سے باہر نہ تھے اور طرزِ تعلیم تو بالکل وہی تھا(سند و روایت) جو قدیم زمانے سے ان میں رائج تھا۔ 
تشریح

شبلی نعمانی کہتے ہیں کہ ۵۴۱ھ تک علم کو باقاعدہ کتابت و اشاعت اور ضابطہ تحریر میں لاکر محفوظ کرکے لوگوں تک منتقل کرنے کا رواج نہ ہو پایا تھا اس لئے علم کو ذہن در ذہن ہی منتقل کیا جاتا تھا۔ عرب خصوصاً مسلمانوں میں تعلیم و تدریس کا جو قاعدہ رائج تھا وہ فطری تھا۔ ماحول کی مناسبت سے سیدھا سادھا طریقہ تدریس قائم تھا جس میں حافظے کا مکمل عمل دخل تھا۔ یادداشت کی قوت کو بروئے کار لاکر علم ایک ذہن سے دوسرے ذہن منتقل کیا جاتا تھا۔ ہر بات پر گفتگو‘ بحث و مباحثہ‘ ہر پہلو پر غوروفکر اور روشن و تاریک پہلوﺅں کو اجاگر کرنا ہر خاص و عام کی عادت تھی۔ 
غرض یہ کہ ۵۴۱ھ کے آخر تک طرزِ تعلیم اسی قدیم طرز و انداز کا حامل تھا جو گزشتہ میں رائج تھا۔ جس میں حکمائ‘ مفکرین اور اہلِ دانش کے اقوال و بیانات کو موضوع بنایا جاتا جو دلائل کے ساتھ قابلِ قبول رہے ہوں
    </p>
  </ion-content>
</ion-view>
