<ion-view view-title="اسباق کے خلاصے | Urdu - I">
  <ion-content>
    <h2 class="text-center">اسباق کے خلاصے</h2>
    <p class="text-justify">


ماما عظمت

کیا اسی لئے تقدیر نے چنوائے تھے تنکے 
بن جائے نشیمن تو کوئی آگ لگا دے 
یہ سبق اردو کے مشہور و معروف ناول نگار ڈپٹی نذیر احمد کے ناول مراة العروس کا ذیلی حصہ ہے۔ ڈپٹی نذیر احمد دہلوی اپنے مضامین سے معاشرے کی اصلاح کا کام لیتے ہیں۔ بقول ڈاکٹر احسن فاروقی: 
انہوں نے اہم معاشرتی مسائل کو دلچسپ فرضی قصوں کے ذریعے اِس طرح پیش کیا ہے جیسے کڑوی دوائی کو حلق سے اُتارنے کے لئے اِس پر شکر لپیٹ کی جاتی ہے۔ 
یہ کہانی ایک شریف گھرانے سے متعلق ہے جس کے سربراہ مولوی محمد فاضل ہیں۔ وہ گھر سے دور کہیں ملازمت کرتے ہیں جو گھر کے خرچ کے لئے رقم بھجواتے رہتے ہیں۔ یہ رقم سامانِ خورد و نوش کے لئے گھر کی پُرانی ملازمہ ماما عظمت کے ہاتھوں میں چلی جاتی ہے۔ اِس اندھے اعتماد کا ناجائز فائدہ اُٹھاتے ہوئے یہ خادمہ جس کشتی میں سوار ہے اُسی میں سوراخ کر دیتی ہے۔ وہ اِس گھر کو آس پاس کے دوکانداروں کا مقروض کر دیتی ہے۔ وہ اِس طرح کہ مولوی صاحب کے نام پر آس پاس کے گھرانوںکا سودا اُدھار لیتی ہے اور ادائیگی کی رقم خود رکھ لیتی ہے۔ اِس گھروں میں اُس کی بیٹی کا گھر بھی شامل ہے۔ 
مولوی محمد فاضل کے بیٹے محمد کامل کی شادی ہوجاتی ہے اور گھر میں ایک نئے فرد یعنی محمد کامل کی بیوی اصغری کا اضافہ ہو جاتا ہے۔ یہ لڑکی نہایت سنجیدہ، عام فہم اور تعلیم کے زیور سے آراستہ ہوتی ہے۔ اُس کی سلیقہ شعاری کی بدولت گھر والے اُسے ”تمیزدار بہو“ کے خطاب سے نوازتے ہیں۔ گھر کے معاملات میں دلچسپی کے باعث بہت جلد ہی اصغری کو ماما عظمت کی نمک حرامیوں کا پتا چل جاتا ہے۔ اب وہ مناسب موقع کے انتظار میں رہتی ہے کہ کب اُسے موقع ملے اور اِس مسئلے کا حل کیا جائے۔ بہت جلد ہی یہ موقع بھی اُس کے ہاتھ آ جاتا ہے جب مولوی محمد فاضل ماہِ رمضان میں چھٹیاں گزارنے گھر تشریف لاتے ہیں۔ اِس چھٹیوں میں وہ وہ کچھ رقم اپنے ساتھ لاتے ہیں تاکہ قرضوں کا بوجھ ہلکا ہو سکے۔ پہلے تو وہ ماما عظمت کی معرفت سے قرضہ اُتارنے کا ارادہ رکھتے تھے لیکن اصغری سے بات چیت کے دوران وہ اُس کی یہ تجویز تسلیم کر لیتے ہیں کہ قرض داروں کو گھر پر بُلا کر اُن کے واجبات ادا کئے جائیں۔ دوسرے روز ہی تمام دوکان داروں کو گھر بلا لیا جاتا ہے۔ 
سب سے پہلے حلوائی سامنے آتا ہے اور اپنا ۰۳ رُپے کا حساب پیش کرتا ہے۔ گھر والوں سے بحث و تکرار کے بعد یہ قرض صرف ۶ سے ۷ رُپے ثابت ہوتا ہے۔ چار سیر بالو شاہی میلاد کی مد میں لکھی پائی جاتی ہے جب کہ اِس قسم کی کوئی تقریب گھر میں عرصہ دراز سے گھر میں منعقد نہیں ہوئی تھی۔ اِسی طرح سبزی فروش، قصائی اور بنیے کے حساب میں بھی خُرد برد کا پتا چلتا ہے۔ بزاز اور ہزاری مل کا حساب اگلے روز پر رکھ دیا جاتا ہے۔ 
رات کو کھانے سے فارغ ہو کر ماما عظمت جب گھر سے باہر نکلتی ہے تومولوی محمد فاضل اُس کے پیچھے اپنا ایک مخبر متعین کر دیتے ہیں۔ ماما پہلے اپنی بیٹی کے گھر جاتی ہے اور وہاں سے چوڑیاں اور دیگر زیورات لے کر بزاز اور ہزاری مَل سے رجوع کرتی ہے۔ وہ اُن سے التجا کرتی ہے کہ یہ رقم رکھ لو لیکن کل مولوی صاحب کے سامنے کچھ مت بولنا۔ اِس کاروائی کی خبر وہ مخبر اصغری کو دے دیتا ہے۔ دوسرے روز یہ دونوں قرض دار جب مولوی صاحب کی خدمت میں پیش ہوتے ہیں تو ماما عظمت کی دی ہوئی لالچ یہ کہتے ہوئے اُس کے منہ پر مار دیتے ہیں کہ مالیت تو ہمارے واجبات سے کئی کم ہے۔ وہ ملازمہ کی فریب کاریوں کے بارے میں بھی مولوی صاحب کو آگاہ کر دیتے ہیں۔ اپنا پول کھلتا دیکھ کر ماما عظمت گھبرا جاتی ہے اور اقبالِ جرم کر لیتی ہے۔ یہ اعتراف جرم مولوی صاحب کو اتنا ٹھیس پہنچاتا ہے کہ وہ طیش میں آکر فوراً ہی اُس نمک حرام کی چھٹی کر دیتے ہیں۔ 
عہدِ حاضر کے معاشرے میں ماما عظمت کا کردار زندہ جاوید ہے اور ہر ایسے گھرانے کی کہانی ہے جہا ں مالکان نوکروں پر اندھا اعتماد کرتے ہوئے گھر کا تمام نظام اُن کے حوالے کر دیتے ہیں۔ یہ مضمون تعلیم سے پیدا ہونے والی سلیقہ شعاری کو بھی اُجاگر کرتا ہے۔ بقول شاعر 
جہاں تک دیکھئے تعلیم کی فرماں روائی ہے 
جو سچ پوچھو تو نیچے علم اوپر خدائی ہے





    </p>
  </ion-content>
</ion-view>
