<ion-view view-title="Business Maths">
  <ion-content>
    <h2 class="text-center">Topics</h2>
    <h6 class="text-center">By Haris Horani</h6>
    <div class="list list-inset">
      <div class="item">Introduction</div>
      <div class="item">Ratio, Proportion &amp; Percentage</div>
      <div class="item">Interest &amp; Annuities</div>
      <div class="item">Functions and Their Graphs</div>
      <div class="item">Linear &amp; Quadratic Equations</div>
      <div class="item">Matrices &amp; Determinants</div>
      <div class="item">Binary Numbers</div>
    </div>
  </ion-content>
</ion-view>
